# dependencies
node_modules

# build
dist
.vercel
.turbo

# debug
*.log

# testing
coverage
**/firestore-coverage.json

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env*
!/.env.test
!/**/*/.env.example
!/**/socials/.env.*
env.txt

# typescript
*.tsbuildinfo

# firebase / gcloud
/credentials
service-account.json
.runtimeconfig.*

scripts/screenshots/*
# isolate-package output
isolate

**.secret.local

**/cookies.txt