rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }

    function onlyUpdatesFields(fields) {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(fields);
    }

    function noUpdatesOnFields(fields) {
      return (!request.resource.data.diff(resource.data).affectedKeys().hasAny(fields))
    }
    
  	function signedInAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rights == "admin";
    }

    match /users/{user} {
      allow create: if isSignedIn();
      allow get, write: if isSignedIn() && request.auth.uid == user;
     
      allow read, write: if signedInAdmin();
    } 

    match /games/{game} {
      allow write: if signedInAdmin() && isSignedIn();
      allow read: if true;

    match /spherical/{spherical} {
      allow write: if signedInAdmin() && isSignedIn();
      allow read: if true;
      } 
    } 

    match /maps/{map} {
      allow write: if signedInAdmin() && isSignedIn();
      allow read: if true;
    } 

    match /spherical/{spherical} {
      allow write: if signedInAdmin() && isSignedIn();
      allow read: if true;
    } 
  }
}