rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }

    function onlyUpdatesFields(fields) {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(fields);
    }

    function noUpdatesOnFields(fields) {
      return (!request.resource.data.diff(resource.data).affectedKeys().hasAny(fields))
    }
    
    function isDocOwner(id) {
      return request.auth.uid == id || request.auth.uid == resource.data.ownerId || request.auth.uid == resource.data.owner_id;
    }

  	function signedInAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Admin";
    }
    
    function signedInIconograph() {
    	return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Iconograph";
    }
    
    function signedInDatabaseManager() {
			return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Database-Manager";
    }
    
    function signedInCurator() {
      return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Curator";
    }
    
    function signedInBurande() {
      return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Burande";
    }

    function signedInFashion() {
      return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Fashion";
    }
    
    function signedInCommunication() {
    	return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Communication";
    }

    function signedInCommunicationManager() {
      return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Com-Manager";
    }
    
    function signedInSales() {
    	return isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data.status == "Sale";
    }
    
    function signedInManager() {
    	return isSignedIn()
      	&& get(/databases/$(database)/documents/usersv2/$(request.auth.uid)).data.organisationId != null
        && get(/databases/$(database)/documents/usersv2/$(request.auth.uid)).data.isManager;
    }

    function userOrganizationId() {
      return get(/databases/$(database)/documents/usersv2/$(request.auth.uid)).data.organisationId;
    }

    function isBoardReader(board) {
  		return isSignedIn() && request.auth.uid in board.data.allowedReaders;
    }

    function isBoardWriter(board) {
    	return isSignedIn() && request.auth.uid in board.data.allowedWriters;
    }

    function isBoardOwner(board) {
      return isSignedIn() && request.auth.uid == board.data.ownerId;
    }
    
    function isCollaboratorOfBoard(board) {
    	return isBoardReader(board) || isBoardWriter(board);
    }
 
    match /events_bui/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
    }

    match /events_screenshotter/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow read, write: if signedInCommunicationManager();
      allow create: if signedInDatabaseManager();
    }
    
    match /events_video2screenshot/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow read, write: if signedInCommunicationManager();
      allow create: if signedInDatabaseManager();
    }
    
    match /events_cfm/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCommunication();
      allow read, write: if signedInCurator();
    	allow create: if signedInDatabaseManager();
    }

    match /events_umc/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow create: if signedInDatabaseManager();
   }
   
    match /events_dm/{event} {
      allow read, write: if signedInAdmin();
      allow read: if signedInIconograph();
      allow read: if signedInCurator();
    	allow create: if signedInDatabaseManager();
   }

    match /events_di/{event} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow create: if signedInDatabaseManager();
    }
    
    match /events_pusher/{event} {
      allow read, write: if signedInAdmin();
      allow create: if signedInDatabaseManager();
    }
    
    match /humans/{human} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCommunication();
      allow read, write: if signedInCurator();
      allow read, write: if signedInCommunicationManager();
      allow read, create, update: if signedInDatabaseManager();
      allow read, create, update: if signedInBurande();
      allow read, create: if signedInFashion();
    }
    
    match /images/{image} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
     	allow read: if signedInCommunication();
      allow read, write: if signedInCurator();
      allow read: if signedInCommunicationManager();
      allow read, update: if signedInDatabaseManager();
      allow read: if signedInBurande();
      allow read: if signedInFashion();

      match /fashion_selections/{selection} {
        allow read, write: if signedInBurande();
        allow read, write: if signedInFashion();
        allow read, write: if signedInDatabaseManager();
        allow read, write: if signedInAdmin();
   		}
    }
    
    match /invitations/{invitation} {
    	allow read: if true;
      allow update: if isSignedIn() && resource.data.email == request.auth.token.email;
      allow list, write: if signedInManager() && resource.data.organizationId == userOrganizationId();
      allow read, write: if signedInAdmin()
      allow read, write: if signedInSales()
    }
    
    match /jobs/{job} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow read, create: if signedInCommunicationManager();
			allow update, delete: if signedInCommunicationManager() && resource.data.created_by == request.auth.uid;
      allow read, write: if signedInDatabaseManager();
    	allow read, update: if signedInBurande();

      match /screenshots/{screenshot} {
        allow read, write: if signedInAdmin();
        allow read, write: if signedInIconograph();
        allow read, write: if signedInCurator();
      	allow read, create: if signedInCommunicationManager();
        allow read, write: if signedInDatabaseManager();
    		allow read, update: if signedInBurande();
      }
    }
  
    match /medias/{media} {
      allow read, write: if signedInAdmin();
      allow read: if signedInIconograph();
      allow update: if signedInIconograph() && onlyUpdatesFields(["tags"]);
      allow read, write: if signedInCurator();     
      allow read, write: if signedInCommunication();
      allow read, write: if signedInCommunicationManager();
    	allow read, write: if signedInDatabaseManager();
    	allow read, update: if signedInBurande();
      allow read: if signedInFashion();
      allow update: if signedInFashion() && onlyUpdatesFields(["fashion_items", "tags"]);
    }

     match /modals/{modalId} {
      allow read;
      allow write: if signedInAdmin();
      allow write: if signedInCommunicationManager();
      allow update: if onlyUpdatesFields(["stats"]);
    }

    match /organisations/{company} {
      allow read: if get(/databases/$(database)/documents/organisations/$(company)).data.type == "SCHOOL";
      allow read: if isSignedIn() && company == userOrganizationId();
      allow read, write: if signedInManager() && company == userOrganizationId();
      allow read, write: if signedInAdmin();
      allow read, write: if signedInSales();
      allow read: if signedInCommunicationManager();
    }

     match /group_organisations/{company} {
      allow read: if isSignedIn() && company == userOrganizationId();
      allow read, write: if isSignedIn() && get(/databases/$(database)/documents/organisations/$(company)).data.management.manager.email == request.auth.token.email;
      allow read, write: if signedInAdmin();
      allow read: if signedInSales();
      allow read: if signedInCommunication();
    }
    
    match /roles/{role} {
      allow read, write: if signedInAdmin();
      allow read, write: if signedInIconograph();
      allow read, write: if signedInCurator();
      allow read, write: if signedInCommunication();
      allow read, write: if signedInCommunicationManager();
      allow read, create, delete: if signedInDatabaseManager();
    	allow read: if signedInBurande();
    	allow read: if signedInFashion();
    }
     
    match /rights/{right} {
      allow read: if isSignedIn() && get(/databases/$(database)/documents/rights/$(request.auth.uid)).data != null;
      allow read, write: if signedInAdmin();
      allow read: if signedInIconograph();
      allow read: if signedInCurator();
      allow read: if signedInCommunicationManager();
      allow read: if signedInDatabaseManager();
      allow read: if signedInBurande();
      allow read: if signedInFashion();
    }

    match /stats/{stat} {
    	allow read: if request.auth == null;
      allow read: if isSignedIn();
    }

    match /usersv2/{user} {
      allow create: if isSignedIn();
      allow get, write: if isSignedIn() && request.auth.uid == user;
      allow list, read: if isSignedIn()
      	&& ('organisationId' in resource.data)
        && resource.data.organisationId == userOrganizationId()
        && ('isManager' in resource.data)
        && resource.data.isManager;

      allow list, get, update: if signedInManager()
        && ('organisationId' in resource.data)
      	&& resource.data.organisationId == userOrganizationId();
        
      allow read, write: if signedInAdmin();
      allow read, write: if signedInSales();
      allow read: if signedInCommunication();
      allow read: if signedInIconograph();
      allow read: if signedInCurator();
      allow read, update: if signedInCommunicationManager();
      allow read: if signedInDatabaseManager();
      allow read: if signedInBurande();
      allow read: if signedInFashion();
      
      match /preferences/{preference_document} {
        allow read, write: if isSignedIn() && request.auth.uid == user; 
      }
      
      match /tags/{tag} {
    		allow read: if true;
      	allow write: if isSignedIn() && isDocOwner(user);
    	}
    } 

    match /labels/{documents} {
      allow read, write: if signedInAdmin();
    }

    match /labels/bo_tags {
      allow read: if signedInIconograph();
      allow read: if signedInCurator();
      allow read: if signedInSales();
      allow read: if signedInCommunicationManager();
      allow read: if signedInDatabaseManager();
      allow read: if signedInBurande();
      allow read: if signedInFashion();
    }

    match /labels/fashion_categories {
      allow read, update: if signedInBurande();
      allow read, update: if signedInFashion();
      allow read, update: if signedInDatabaseManager();
    }
    
    match /fashion_items/{items} {
      allow read, write: if signedInBurande();
      allow read, write: if signedInDatabaseManager();
      allow read, write: if signedInAdmin();
      allow read, write: if signedInFashion();
    }
        
    match /banners/{bannerId} {
      allow read;
      allow write: if signedInAdmin();
    }

    match /offers/{offerId} {
      allow read;
      allow write: if signedInAdmin();
    }
    
  	match /board_saved_images/{id} {
      allow get, write: if isSignedIn() && isDocOwner(id);

      match /saved_images/{imageId} {
        allow list: if signedInAdmin() || signedInSales() || signedInCommunicationManager();
        allow read, write: if isSignedIn() && isDocOwner(id);
      }
    }
    
  	match /user_boards/{id} {
    	allow create: if isSignedIn();
    	allow read: if resource.data.isPublic == true;
      allow read, write: if signedInAdmin();
      allow read: if signedInCommunication();
      allow read, update: if signedInCommunicationManager();
    	allow read, update: if isCollaboratorOfBoard(resource);
      allow read, update: if isSignedIn() && request.auth.uid in resource.data.favoritesUsersId;
      allow read, write: if isBoardOwner(resource);
      
    	match /board_images/{image} {
      	allow read: if isSignedIn();
        allow read, write: if isBoardOwner(get(/databases/$(database)/documents/user_boards/$(id)));
        allow read, write: if isCollaboratorOfBoard(get(/databases/$(database)/documents/user_boards/$(id)));
    	}  
      
      match /board_orders/{order} {
      	allow read: if isSignedIn();
        allow write: if isBoardOwner(get(/databases/$(database)/documents/user_boards/$(id))) || isBoardWriter(get(/databases/$(database)/documents/user_boards/$(id)));
    	}  
            
      match /board_likes/{userId} {
      	allow read: if isSignedIn();
       	allow write: if isSignedIn() && isDocOwner(userId);
    	}
      
      match /board_views/{userId} {
      	allow read: if isSignedIn();
        allow write: if isSignedIn() && isDocOwner(userId);
    	}

      match /board_models/{model} {
        allow read, write: if isBoardOwner(get(/databases/$(database)/documents/user_boards/$(id))) || isCollaboratorOfBoard(get(/databases/$(database)/documents/user_boards/$(id)));
        allow read: if signedInAdmin() || signedInCommunicationManager() || signedInCommunication();
      }
    }
    
    match /user_genai/{id} {
    	allow create: if isSignedIn();
      allow read, create, delete: if isSignedIn() && isDocOwner(id); 
      allow update: if isSignedIn() && isDocOwner(id) && noUpdatesOnFields(["creditCosts"]); 
      allow read: if signedInCommunication() || signedInAdmin() || signedInCommunicationManager();
      allow write: if signedInAdmin();
    }
    
    match /secrets/bo {
      allow read: if signedInSales();
      allow read: if signedInAdmin();
      allow read: if signedInCurator();
      allow read: if signedInIconograph();
      allow read: if signedInCommunication();
      allow read: if signedInDatabaseManager();
      allow read: if signedInCommunicationManager();
      allow read: if signedInBurande();
      allow read: if signedInFashion();
    }

    match /{path=**}/fashion_selections/{selection} {
	    allow read, write: if signedInBurande();
	    allow read, write: if signedInFashion();
      allow read, write: if signedInDatabaseManager();
      allow read, write: if signedInAdmin();
    }
  }
}