rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function signedInIconograph() {
      return isSignedIn() &&
        firestore.exists(/databases/(default)/documents/rights/$(request.auth.uid)) &&
        firestore.get(/databases/(default)/documents/rights/$(request.auth.uid)).data.right == "iconograph";
    }

    function signedInAdmin() {
      return isSignedIn() &&
        firestore.exists(/databases/(default)/documents/rights/$(request.auth.uid)) &&
        firestore.get(/databases/(default)/documents/rights/$(request.auth.uid)).data.right == "admin";
    }

    // Game thumbnails - public read, admin write only
    match /game-thumbnails/{allPaths=**} {
      allow write: if signedInAdmin();
      allow create, update: if signedInIconograph();

      allow read: if true;
    }

    // Sphericals - public read, admin write only
    match /sphericals/{allPaths=**} {
      allow write: if signedInAdmin();
      allow create, update: if signedInIconograph();

      allow read: if true;
    }

    // Map thumbnails - public read, admin write only
    match /map-thumbnails/{allPaths=**} {
      allow write: if signedInAdmin();
      allow create, update: if signedInIconograph();

      allow read: if true;
    }

    // Flat images - public read, admin write only
    match /flat-images/{allPaths=**} {
      allow write: if signedInAdmin();
      allow create, update: if signedInIconograph();

      allow read: if true;
    }

    // Flat thumbnails - public read, admin write only
    match /flat-thumbnails/{allPaths=**} {
      allow write: if signedInAdmin();
      allow create, update: if signedInIconograph();

      allow read: if true;
    }

    // Suggestion assets
    match /suggestions/{allPaths=**} {
      allow create: if true;

      allow read, write: if signedInAdmin();
    }

    // Suggestion assets
    match /socials/{allPaths=**} {
      allow read, write: if signedInAdmin();
    }

    // Deny all other paths
    match /{allPaths=**} {
      // Admin
      allow read, write: if signedInAdmin();

      allow read, write: if false;
    }
  }
}