@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-shapiro);
  --default-font-family: var(--font-shapiro);
  --font-mono: var(--font-fraktion-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-blue-accent: var(--blue-accent);
  --color-blue-accent-foreground: var(--blue-accent-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-marathon-pink: var(--marathon-pink);
  --color-marathon-green: var(--marathon-green);
  --color-marathon-green-foreground: var(--marathon-green-foreground);
  --color-marathon-yellow: var(--marathon-yellow);
  --color-marathon-yellow-foreground: var(--marathon-yellow-foreground);
  --color-ready: var(--ready);
  --color-ready-foreground: var(--ready-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --spacing-header-height: var(--header-height);
}

@theme {
  --font-fraktion: var(--font-fraktion), sans-serif;
  --font-fraktion-mono: var(--font-fraktion-mono), monospace;
  --font-interference: var(--font-interference), sans-serif;
  --font-shapiro: var(--font-shapiro), sans-serif;
  --font-shapiro-wide: var(--font-shapiro-wide), sans-serif;
  --inset-shadow-marathon: inset 0 0px 0px 1px var(--primary);
  --inset-shadow-marathon-white: inset 0 0px 0px 1px var(--foreground);
  --shadow-glow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  --shadow-glow-xs: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  --admin-header-height: 60px;
  --header-height: 60px;
  --footer-height: 0px;
  /* --header-height: 76px; */
  /* --footer-height: 85px; */
  --spacing-full-height-admin: calc(100svh - var(--admin-header-height));
  --spacing-full-height: calc(100svh - var(--header-height) - var(--footer-height));

  @keyframes loadingColors {

    0%,
    12.4% {
      fill: var(--color-gray-200);
    }

    12.5%,
    24.9% {
      fill: var(--color-gray-300);
    }

    25%,
    37.4% {
      fill: var(--color-gray-400);
    }

    37.5%,
    49.9% {
      fill: var(--color-gray-500);
    }

    50%,
    62.4% {
      fill: var(--color-gray-600);
    }

    62.5%,
    74.9% {
      fill: var(--color-gray-700);
    }

    75%,
    87.4% {
      fill: var(--color-gray-800);
    }

    87.5%,
    99.9% {
      fill: var(--color-gray-900);
    }
  }

  @keyframes text-reveal {
    0% {
      transform: translate(0, 100%);
    }

    100% {
      transform: translate(0, 0);
    }
  }

   @keyframes diagonal-infinite {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100px 100px;
    }
  }

  --animate-loading-colors: loadingColors 1s infinite;
  --animate-text-reveal: text-reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  --animate-diagonal-infinite: diagonal-infinite 7s linear infinite;

  @keyframes holo-shimmer {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  --animate-holo-shimmer: holo-shimmer 6s ease infinite;

}

:root {
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.702 0.183 293.541);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.38 0.189 293.745);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.38 0.189 293.745);
}

[data-marathon] {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --ready: oklch(0.9209 0.2325 125.54);
  --ready-foreground: oklch(71.71% 0.17541 124.542);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(96.066% 0.01957 13.315);
  /* --primary: oklch(0.6415 0.2129 33.35); */
  --primary: oklch(0.6723 0.239166 18.94);
  --primary-foreground: oklch(0 0 0);
  --marathon-pink:oklch(0.6723 0.239166 18.94);
  --marathon-yellow: oklch(0.9262 0.1979 115.19);
  --marathon-yellow-foreground: oklch(43.102% 0.08189 114.777);
  --marathon-green: oklch(0.8537 0.217249 153.4818);
  --marathon-green-foreground: oklch(52.266% 0.11502 157.771);
  --ring: oklch(0.6723 0.239166 18.94);
  /* --ring: oklch(0.6416 0.2133 32.82); */
  --blue-accent: oklch(0.6416 0.2133 250.94);
  --blue-accent-foreground: oklch(0.4426 0.306677 264.052);
}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border;
  }

  body {
    @apply bg-background text-foreground font-shapiro;
  }

  .psv-navbar {
    @apply h-0!;
  }

  .hide-cursor .psv-container {
    @apply cursor-none!;
  }

  .psv-overlay {
    @apply hidden!;
  }

  .firebase-emulator-warning {
    @apply hidden!;
  }

  ::selection {
    @apply bg-blue-accent;
  }

  ::-webkit-scrollbar {
    @apply w-2.5 h-2.5;

  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-transparent border-0 bg-clip-padding;
  }

  *:hover> ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    @apply bg-border;
  }

  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

}

@layer utilities {
/* Class assigned to popover wrapper */
.driver-popover {
  @apply bg-primary! rounded-none!;
}

/* Arrow pointing towards the highlighted element */
.driver-popover-arrow-side-bottom {
  @apply border-t-transparent border-l-transparent border-r-transparent border-b-primary!;
}
/* Arrow pointing towards the highlighted element */
.driver-popover-arrow-side-left {
  @apply border-t-transparent border-l-primary! border-r-transparent border-b-transparent;
}

/* Arrow pointing towards the highlighted element */
.driver-popover-arrow-side-right {
  @apply border-t-transparent border-l-transparent border-b-transparent border-r-primary!;
}

/* Title and description */
.driver-popover-title {
  @apply text-lg font-bold text-primary-foreground font-interference!
}

.driver-popover-description {
  @apply text-primary-foreground/80 font-mono!
}

/* Close button displayed on the top right corner */
.driver-popover-close-btn {
  @apply text-primary-foreground/80 hover:text-primary-foreground;
}

/* Footer of the popover displaying progress and navigation buttons */
.driver-popover-footer {}

.driver-popover-progress-text {}

.driver-popover-prev-btn, .driver-popover-next-btn {
  @apply bg-background! text-primary! border-none! text-shadow-none!
}
}

.glow::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.4;
  background: linear-gradient(
    115deg,
    transparent 0%,
    transparent 40%,
    var(--sunpillar-1) 44%,
    var(--sunpillar-2) 46%,
    var(--sunpillar-3) 48%,
    var(--sunpillar-4) 50%,
    var(--sunpillar-5) 52%,
    var(--sunpillar-6) 54%,
    transparent 56%,
    transparent 100%
    );
    background-size: 300% 300%;
    animation: var(--animate-holo-shimmer);
    mix-blend-mode: hard-light;
    
  pointer-events: none;
  mask-image: var(--glow-mask);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

@utility glow-text {
  background: linear-gradient(
    115deg,
    currentColor 0%,
    currentColor 40%,
    var(--sunpillar-1) 44%,
    var(--sunpillar-2) 46%,
    var(--sunpillar-3) 48%,
    var(--sunpillar-4) 50%,
    var(--sunpillar-5) 52%,
    var(--sunpillar-6) 54%,
    currentColor 56%,
    currentColor 100%
  );
  background-size: 300% 300%;
  animation: var(--animate-holo-shimmer);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

[data-text-glow="true"] {
  @apply glow-text;
}
